<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/forms.css">
    <title>Sur</title>
</head>
<body>
    <h1>Takk for ønskelisten</h1>

    <p>Takk for ønskelisten,{{navn}}. Den går nok i bosset etterhvert, da jeg nok vet at du har vært skikkelig slem i år!</p>
    <p>Ha en begredelig jul!</p>

    <img src="bilder/sur.png">
</body>

<footer>
    <button>
        <a href="/index.html">Til fremsiden</a>
    </button>
</footer>
</html>